
@{
    ViewBag.Title = "Dashboard";
}


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome To SAAF CITY</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="../Master Page layout/plugins/fontawesome-free/css/all.min.css" />
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../Master Page layout/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
        .year-stats {
            white-space: nowrap;
            max-height: 170px;
            overflow: hidden;
        }

            .year-stats:hover {
                overflow-x: auto;
            }

        /* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
        /* Width */

        .month-group {
            cursor: pointer;
            max-width: 400px;
            height: 110px;
            margin: 10px;
            display: inline-block;
        }

        .bar {
            background-color: #abafc6;
            width: 20px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .month-group:hover .bar,
        .selected .bar {
            background: #5397d6;
        }

        .month-group:hover p,
        .selected p {
            color: #fff;
        }

        .h-25 {
            height: 25%;
        }

        .h-50 {
            height: 50%;
        }

        .h-75 {
            height: 75%;
        }

        .h-100 {
            height: 100%;
        }

        .stats-info {
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            position: relative;
        }

        .graph-container {
            position: relative;
        }

        .percent {
            display: block;
            width: 120px;
            height: 120px;
        }

        .circle {
            stroke: #915db1;
            fill: none;
            stroke-width: 3;
        }

            .circle:nth-child(2) {
                stroke: #e59f3c;
            }

            .circle:nth-child(3) {
                stroke: #5397d6;
            }

            .circle:nth-child(4) {
                stroke: #4cc790;
            }

        .graph-container p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: #000000;
            text-align: center;
        }

        .info p {
            margin-bottom: 10px;
        }

        .info span {
            color: #000000;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header"></span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">

                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>


            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="Home.aspx" class="brand-link">
                <img src="../Master Page layout/dist/img/logo4.png" class="brand-image img-circle elevation-3" style="opacity: .8;" />
                <span class="brand-text font-weight-light">SAAF CITY</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">


                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="nav">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="Dashboard" class="nav-link" id="home">
                                <i class=" nav-icon fas fa-copy"></i>
                                <p>
                                    Home
                                    <!-- <i class="right fas fa-angle-left"></i> -->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/homepage_Garbage" class="nav-link" id="vendor">
                                <i class=" nav-icon fas fa-copy"></i>
                                <p>
                                    Garbage Department
                                    <!-- <span class="right badge badge-danger">New</span> -->
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/homepage_Sewage" class="nav-link" id="ProductCategory">
                                <i class="nav-icon fas fa-copy"></i>
                                <p>
                                    Sewage Department
                                    <!-- <i class="fas fa-angle-left right"></i> -->
                                    <!-- <span class="badge badge-info right">6</span> -->
                                </p>
                            </a>
                        </li> 
                        <li class="nav-item">
                            
                                <i class="  nav-icon fas fa-spinner"></i>
                                @Html.ActionLink("Logout","Logout","Account")
                            
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="Dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Complaint Section</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Small boxes (Stat box) -->
                        <div class="row">
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner">
                                        <p ID="lblvendors" style="font-weight: bold; font-size: 30px;">122</p>
                                        <p style="margin-top: 2%;">Total Complaints</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-book" aria-hidden="true"></i>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-success">
                                    <div class="inner">
                                        <p ID="lblcompanies" style="font-weight: bold; font-size: 30px;">45</p>
                                        <p>Completed Complaints</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-warning">
                                    <div class="inner">
                                        <p ID="lblproducts" style="font-weight: bold; font-size: 30px;">80</p>
                                        <p>Progress Complaints</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-spinner" aria-hidden="true"></i>
                                    </div>
                                   
                                </div>
                            </div>
                            <!-- ./col -->
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-info">
                                    <div class="inner" style="background: #4F4846;">
                                        <p ID="lbltotalpurchase" style="font-weight: bold; font-size: 30px;">745</p>
                                        <p>Verified Complaints</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3 col-6">
                                <!-- small box -->
                                <div class="small-box bg-danger">
                                    <div class="inner">
                                        <p ID="lblstock" style="font-weight: bold; font-size: 30px;">122</p>
                                        <p style="margin-top: 2%;">Unverified Complaints</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- ./col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
            </section>
            <section class="content">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Graph Section</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <body>
                            <div class="main-container">
                                <div class="year-stats">
                                    <div class="month-group">
                                        <div class="bar h-100"></div>
                                        <p class="month">Jan</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-50"></div>
                                        <p class="month">Feb</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-75"></div>
                                        <p class="month">Mar</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-25"></div>
                                        <p class="month">Apr</p>
                                    </div>
                                    <div class="month-group selected">
                                        <div class="bar h-100"></div>
                                        <p class="month">May</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-50"></div>
                                        <p class="month">Jun</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-75"></div>
                                        <p class="month">Jul</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-25"></div>
                                        <p class="month">Aug</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-50"></div>
                                        <p class="month">Sep</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-75"></div>
                                        <p class="month">Oct</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-25"></div>
                                        <p class="month">Nov</p>
                                    </div>
                                    <div class="month-group">
                                        <div class="bar h-100"></div>
                                        <p class="month">Dez</p>
                                    </div>
                                </div>

                                <div class="stats-info">
                                    <div class="graph-container">
                                        <div class="percent">
                                            <svg viewBox="0 0 36 36" class="circular-chart">
                                                <path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
                                                <path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
                                                <path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
                                                <path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            </svg>
                                        </div>
                                        <p>Total: 2075</p>
                                    </div>

                                    <div class="info">
                                        <p>
                                            Complaints Rate 18.02% <br />
                                            <span>Total Complainers 80%</span>
                                        </p>
                                        <p>Updated Complaints 89<span>2</span></p>
                                        <p>Urgent Complaints 12<span>$92</span></p>
                                    </div>
                                </div>
                            </div>
                        </body>
                        <!-- Small boxes (Stat box) -->
                        <!-- ./col -->
                        <!-- ./col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.1.0
            </div>
            <strong>Copyright &copy; 2021 Saaf City</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="../Master Page layout/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../Master Page layout/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="../Master Page layout/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="../Master Page layout/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../Master Page layout/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <!-- <script src="dist/js/pages/dashboard3.js"></script> -->
</body>
</html>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(function () {
        var message1 = '@ViewBag.smessage';

        console.log(message1)
        if (message1 != '') {
            swal({
                title: "Success",
                text: message1,
                icon:"success"
                })
        }

    })
</script>