
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<head>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90680653-2"></script>
        <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-90680653-2');
        </script>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Meta -->
        <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
        <meta name="author" content="BootstrapDash">

        <title>Saaf City</title>

        <!-- vendor css -->
        <link href="~/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
        <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="~/lib/typicons.font/typicons.css" rel="stylesheet">
        <link href="~/lib/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

        <!-- azia CSS -->
        <link rel="stylesheet" href="~/css/azia.css">
        <!-- ================= Favicon ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
        <!-- Retina iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
        <!-- Retina iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
        <!-- Standard iPad Touch Icon-->
        <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
        <!-- Standard iPhone Touch Icon-->
        <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">

        <!-- Styles -->
        <link href="~/lib/rangSlider/ion.rangeSlider.css" rel="stylesheet">
        <link href="~/lib/rangSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
        <!--Themes Jquery Bar Rating-->
        <link href="~/lib/font-awesome.min.css" rel="stylesheet">
        <link href="~/lib/themify-icons.css" rel="stylesheet">

        <link href="~/lib/menubar/sidebar.css" rel="stylesheet">
        <link href="~/lib/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="~/lib/helper.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </head>
